<hr>
<div class="d-flex flex-row">
  <div class="d-flex flex-column">
    <select class="form-select" [(ngModel)]="selectedMed">
      <option
        *ngFor="let medication of medicationsForUser"
        [ngValue]="medication"
        [selected]="medicationsForUser[5]">
        {{medication.name}}
      </option>
    </select>
  </div>
  <button routerLink="/profile" class="btn btn-outline-secondary ms-1">Add Medication
    <i class="bi bi-box-arrow-up-right"></i>
  </button>
</div>
<h5>Did you observe any Side effects?</h5>
<div class="d-flex flex-column" *ngFor="let i of [].constructor(numberOfEffects)">
  <div class="d-flex flex-row justify-content-between">
    <div>
      <div class="mt-3">
        <app-add-effect [effectsForUser]="effectsForUser"
                        [currentMed]="selectedMed"
                        [resetEffect] = "resetEffects"
                        (effectEvent)="addEffectToEntry($event)"></app-add-effect>
      </div>
    </div>
  </div>
</div>
<div class="d-flex flex-row">
  <button type="button" class="btn btn-outline-primary me-1" (click)="addEffect()">Add another Effect</button>
  <button class="btn btn-outline-danger" (click)="emitClearAllEvent()">Clear all effects
    <i class="bi bi-trash"></i>
  </button>
</div>


