<form #form="ngForm" (ngSubmit)="addMeds()">
  <div *ngFor="let med of [].constructor(numberOfMeds)">
    <app-add-med (medChangedEvent)="updateMeds($event)" updateValidationStatus="{{this.validateChildren}}"></app-add-med>
    <hr>
  </div>
  <div class="mt-4 d-flex flex-row">
    <button type="button" class="btn btn-secondary" (click)="addAnotherMedFE()">Add another</button>
    <span class="flex-grow-1"></span>
    <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Add Meds</button>
  </div>
</form>
