<select class="form-select mb-1" [(ngModel)]="effectName" (change)="addNewEffect()">
  <option
    *ngFor="let effect of effectsForUser"
    [ngValue]="effect" [disabled]="effect === 'None'">
    {{effect}}
  </option>
</select>
<div class="form-group" *ngIf="effectName === 'Other'">
  <label for="otherSideEffect">Please tell us what you experienced:</label>
  <input class="form-control" type="text" id="otherSideEffect" (keyup.enter)="addCustomEffect()" [(ngModel)]="customEffect">
  <small class="form-text text-muted">Enter to submit.</small>
</div>
<div class="input-group" *ngIf="effectName !== 'None' && effectName !== 'Other'">
  <label for="{{effectName}}" class="form-label me-1">{{effectName}}:</label>
  <div class="d-flex flex-row">
    <input type="range"
           id="{{effectName}}"
           class="form-range"
           min="0"
           max="10"
           step="0.5"
           [(ngModel)]="effect.intensity"
           (change)="addNewEffect()">
      {{effect.intensity}}
  </div>
</div>
<div class="input-group" *ngIf="effectName === 'Other' && customEffectTriggered">
  <label for="{{effectName}}" class="form-label me-1">{{effectName}}:</label>
  <div class="d-flex flex-row">
    <input type="range"
           id="{{effectName}}"
           class="form-range"
           min="0"
           max="10"
           step="0.5"
           [(ngModel)]="effect.intensity"
           (change)="addNewEffect()">
    {{effect.intensity}}
  </div>
</div>
