<div class="mt-2">
  <div class="d-flex flex-row">
    <div class="d-flex flex-column">
      <div class="form-check form-switch" *ngFor="let medication of medicationsForUser">
        <input
          class="form-check-input"
          type="checkbox"
          [value]="medication"
          [id]="medication + '_id'"
          (change)="updateCheckedMeds(medication)">
        <label class="form-check-label" [for]="medication + '_id'">
          {{medication.name}}
        </label>
      </div>
    </div>
    <form class="row row-cols-sm-auto">
      <div class="col-12">
        <div class="input-group">
          <input
            class="form-control"
            placeholder="yyyy-mm-dd"
            name="dp"
            [(ngModel)]="date"
            ngbDatepicker
            #d="ngbDatepicker"
          />
          <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d.toggle()" type="button"></button>
        </div>
      </div>
    </form>
  </div>
  <h5>Did you observe any Side effects?</h5>
  <button type="button" class="btn btn-outline-primary" (click)="addEffect('None')">None</button>
  <button type="button" class="btn btn-outline-primary" (click)="addEffect('Migraine')">Migraine</button>
  <button type="button" class="btn btn-outline-primary" (click)="addEffect('Drowsiness')">Drowsiness</button>
  <button type="button" class="btn btn-outline-primary" (click)="addEffect('Tiredness')">Tiredness</button>
  <button type="button" class="btn btn-outline-primary" (click)="toggleOtherSideEffect()" [class.active]="hideOtherSideEffect">Other</button>
  <div class="form-group" *ngIf="hideOtherSideEffect">
    <label for="otherSideEffect">Please tell us what you experienced:</label>
    <input class="form-control" type="text" id="otherSideEffect" (keyup.enter)="addCustomEffect()" [(ngModel)]="customEffect">
    <small class="form-text text-muted">Enter to submit.</small>
  </div>
  <div *ngFor="let effect of effectsForUser" class="mt-3">
    <app-add-effect effectName="{{effect}}" [currentMed]="currentMed" (effectEvent)="addEffectToEntry($event)"></app-add-effect>
  </div>
  <button class="btn-primary" (click)="addEntry()">Add Entry</button>
</div>

