<div class="mt-2">
  <div class="d-flex flex-row justify-content-between">

    <h1 class="display-4">Add a new Entry</h1>
    <form class="row row-cols-sm-auto" id="CalendarInput">
      <div class="col-12">
        <div class="input-group">
          <input
            class="form-control"
            placeholder="yyyy-mm-dd"
            name="dp"
            [(ngModel)]="date"
            ngbDatepicker
            #d="ngbDatepicker"
            (ngModelChange)="updateDateEntryModel()"
          />
          <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d.toggle()" type="button"></button>
        </div>
      </div>
    </form>
  </div>
  <app-entry-for-med
    *ngFor="let i of [].constructor(numberOfMeds)"
    [medicationsForUser]="medicationsForUser"
    (effectChanges)="updateEntryModel($event)">
  </app-entry-for-med>
  <div class="d-flex justify-content-end">
    <button class="btn btn-secondary me-1" (click)="addMed()">
      <i class="bi bi-plus"></i> Add another Entry</button>
    <button class="btn btn-primary" (click)="addEntry()">
      <i class="bi bi-floppy"></i> Save Entry</button>
  </div>
</div>
