<div class="jumbotron mt-5">
  <h1 class="display-4">Welcome to MediTrack!</h1>
  <hr class="my-4">
  <a *ngIf="!authService.isLoggedIn()" class="btn btn-primary btn-lg" routerLink="/login" role="button">Login</a>
  <div *ngIf="authService.isLoggedIn()" class="d-flex justify-content-center">
    <div class="d-flex flex-wrap justify-content-center">
      <app-main-button title="Track your Meds"
                       refersTo="add-entry"
                       buttonIcon="calendar-plus"
                       class="col-lg-3 m-2">
      </app-main-button>
      <app-main-button title="Calendar"
                       buttonIcon="calendar-date"
                       class="col-lg-3 m-2">
      </app-main-button>
      <app-main-button title="Stats & Insights"
                       refersTo="stats"
                       buttonIcon="bar-chart"
                       class="col-lg-3 m-2">
      </app-main-button>
    </div>
  </div>
</div>
