
.accordion-button {
  background-color: rgba(31, 93, 53, 0.71);
  color: #ffffff;
  box-shadow: none;
  font-size: 22px;
}

h1 {
  font-weight: unset;
  margin-bottom: 1%;
  margin-top: 1%;
}
.left-edge {
  font-size: 18px;
}

.flex {
  display: flex;
}
.space-between {
  justify-content: space-between;
}
